@import url("./styles/statusBar.css");

button {
  min-width: 0;
  border: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
}

progress,
highlight {
  min-height: 8px;
}

.corner {
  background-color: black;
  border-radius: 8px;
}
