window {
  background-color: transparent;
  opacity: 0.95;
}

#entry:selected {
  background-color: #9d0006;
}

#input {
  margin: 10px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #282828;
  color: #d79921;
  border: none;
  border-radius: 8px;
  font-family: Iosevka;
  font-size: 20;
}

#input:selected {
  border: none;
}

#inner-box {
  background-color: #32302f;
}

#outer-box {
  background-color: transparent;
}

#text {
  margin-left: 8px;
  color: #fabd2f;
  font-family: Iosevka;
  font-size: 16;
}
